dragbox {
	-moz-binding: url("dragbox.xml#dragbox");
}
dragbox[type="tree"] {
	-moz-binding: url("dragbox.xml#treedrag");
	margin-right:4px;
	margin-left:4px;
}
dragbox[type="tree"] {
	margin:0px;
}
dragbox[type="tree"] tree {
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
}
dragbox[type="tree"][dragging="top"]  treechildren::-moz-tree-row(current), 
dragbox[type="tree"][dragging="top"]  treechildren::-moz-tree-row(current, selected) {

	border: 3px solid black;
} 
dragbox[type="tree"][dragging="bottom"]  treechildren::-moz-tree-row(current), 
dragbox[type="tree"][dragging="bottom"]  treechildren::-moz-tree-row(current, selected) {
 	border: none;
	border-bottom: 3px solid black;
} 
dragbox[type="tree"] image[pos="rit"], dragbox[type="tree"] image[pos="lft"] {
	background-repeat:no-repeat;
	background-position:0px 0px;
	visibility:hidden;
}
dragbox image[pos="rit"] {background-image:url("data:image/gif;base64,R0lGODlhAwAFAIABAAAAAP///yH5BAEAAAEALAAAAAADAAUAAAIGTHCgqAYFADs=");}
dragbox image[pos="lft"] {background-image:url("data:image/gif;base64,R0lGODlhAwAFAIABAAAAAP///yH5BAEAAAEALAAAAAADAAUAAAIFRAKWi1cAOw==");}

#dragbox-popup, #dragbox-popup > * {
	padding:0px !important;
	margin:0px !important; 	
}
#dragbox-popup > treecols {
	display:none;

}
