#keychainpanel {
	min-width: 600px;
	max-width: 610px;
	min-height: 400px;
	max-height: 410px;	
	font-size: x-small;
	margin: 2px;
}

.titleBox {
	font-weight: bold;
}


.buttonPlus {
 	min-width:2.5em; 
	max-width: 2.5em;
}


#list_groups {
    min-width: 130px;
	max-width: 130px;
} 

#list_contacts {
	min-width: 150px;
	max-width: 150px;    
}

#miscBox {
	padding: 0px;
	padding-left: 2px;
	margin: 2px;
}

#mainpanel {
	width: 280px;
}

#miscBoxPic {
	padding-top: 15px;
	padding-bottom: 15px;
	background: url('chrome://scramble/skin/imgs/scramble_medium_icon.png') no-repeat center center;
}

.emptyBox {
	background: url('chrome://scramble/skin/imgs/scramble_large_icon.png') no-repeat center center;
}

#descriptionBox, #addcontactBox, #miscBox {
	min-width: 280px;
	max-width: 290px;
	min-height: 305px;
    max-height: 310px;
}

#descriptionName {
	padding: 0.5em 0 0.2em 0;
	
	font-weight: bold;
	font-size: 1.8em;
}

#descriptionLabel {
	padding-bottom: 1em;
	padding-left: 1.4em;
	font-size: 0.8em;
}

.descriptionExtra {
	font-weight: bold;
	font-size: 1.1em;
	padding-bottom: 0.2em;
	padding-top: 0.4em;	
	margin-left: 0.4em;
}

.descriptionValues {
	margin-left: 1.4em;
}

#descriptionNote {
	font-weight: bold;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-left: 0.2em;
}

#descriptionFingerprint, #descriptionMail {
	font-size: 0.8em;
	padding-bottom: 2em;
	padding-left: 0.5em;
}

.smallButton {
 	min-width: 7em; 
	max-width: 7em;
	font-size: 0.85em;
}

treechildren:-moz-tree-row(statusred) { 
    border-bottom: 0px; 
    background: #C1C1C1;
} 

treechildren::-moz-tree-cell-text(statusred) { 
    color: red; 
}
