<project name="My Thesis" ID="1422AC138D6237M7JKVLA0UW17WKYEQLLH6W" version="docear 1.0">
<folder type="library" name="Library">
<link type="literature_annotations" name="Literature &amp; Annotations" path="project://1422AC138D6237M7JKVLA0UW17WKYEQLLH6W/_data/1422AC138D6237M7JKVLA0UW17WKYEQLLH6W/default_files/literature_and_annotations.mm"/>
<link type="file" name="Temp" path="project://1422AC138D6237M7JKVLA0UW17WKYEQLLH6W/_data/1422AC138D6237M7JKVLA0UW17WKYEQLLH6W/default_files/temp.mm" system="true"/>
<link type="file" name="Trash" path="project://1422AC138D6237M7JKVLA0UW17WKYEQLLH6W/_data/1422AC138D6237M7JKVLA0UW17WKYEQLLH6W/default_files/trash.mm" system="true"/>
</folder>
<folder type="physical" name="My drafts" path="project://1422AC138D6237M7JKVLA0UW17WKYEQLLH6W/_data/1422AC138D6237M7JKVLA0UW17WKYEQLLH6W/My%20Drafts/"/>
<folder type="literature_repository" name="Literature repository" system="true">
<folder type="repository_path" name="papers" path="project://1422AC138D6237M7JKVLA0UW17WKYEQLLH6W/../papers/"/>
</folder>
<link type="references" name="References" path="project://1422AC138D6237M7JKVLA0UW17WKYEQLLH6W/../literaturestudy/references.bib" system="true"/>
</project>
