#mainBox {
	min-width: 275px;
	max-width: 275px;
	min-height: 400px;
	max-height: 400px;	
	
	margin: 2px;
}

#box {
    position: relative;
    min-width: 265px;
    max-width: 265px;

	min-height: 280px;
	max-height: 280px;	
	
	padding: 2px;
}

.inBox {
    position: relative;   
    padding: 2px;
    min-width: 260px;
    max-width: 260px;

	min-height: 275px;
	max-height: 275px;	    
}

.textArea {
    position: relative;
    width: 100%;
    min-height: 40px;
    max-height: 100px;
}