#scrambleStatusBar {
    min-width: 70px;
    margin:0;
    padding:0;
}

/*#scrambleStatusBar {
    padding-left: 20px;
    background: url(chrome://scramble/skin/imgs/scramble_small_icon.png) no-repeat 5px center;
    min-width: 90px !important;
}
*/
#scrambleStatusBar.customLook {
    -moz-appearance: none !important;
    border-width: 1px;
    border-style: solid;
}

#scrambleTip {
    margin-bottom: 10px;
	background-color: #33DD00;
}
